#countLabel{
display: block;
text-align: center;
font-size: 120px;
font-weight: bold;
color: #7c6ee5;
font-family: 'Comic Neue', cursive;
margin-bottom: 20px;
text-shadow: 2px 3px 0 #e1d9ff;
}

#btnContainer{
  display: flex;
  justify-content: center;
  gap: 25px; /* відстань між кнопками */
}

.buttons{
  background-color: white;
  border: 4px solid #a48be0;
  border-radius: 30px;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: 600;
  color: #5e548e;
  font-family: 'Nunito', cursive;
  box-shadow: 4px 6px 0 #d0c3f2;
  cursor: pointer;
  transition: all 0.25s ease;
}

.buttons:hover {
   background-color: #f3edff;
   box-shadow: 2px 3px 0 #d0c3f2;
   transform: scale(1.1); 
}

.buttons:active{
  position: relative;
  top: 8px;
  border: 6px solid #646fff;
  box-shadow: 0px 0px;
}